<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_battle_boss_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{609,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,239}}</string>
                <key>sourceSize</key>
                <string>{609,239}</string>
            </dict>
            <key>ui_battle_circularframe_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,243},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>ui_battle_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,243},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_battle_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,243},{190,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,189}}</string>
                <key>sourceSize</key>
                <string>{190,189}</string>
            </dict>
            <key>ui_battle_diban01.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,218},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>ui_battle_diban02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,961},{216,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,54}}</string>
                <key>sourceSize</key>
                <string>{216,54}</string>
            </dict>
            <key>ui_battle_diban03.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,70},{326,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,146}}</string>
                <key>sourceSize</key>
                <string>{326,146}</string>
            </dict>
            <key>ui_battle_float_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ui_battle_float_boss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,336},{126,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,146}}</string>
                <key>sourceSize</key>
                <string>{126,146}</string>
            </dict>
            <key>ui_battle_float_escort.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,218},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ui_battle_float_guard.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,243},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ui_battle_float_sos.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,333},{111,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,125}}</string>
                <key>sourceSize</key>
                <string>{111,125}</string>
            </dict>
            <key>ui_battle_icon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{158,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,159}}</string>
                <key>sourceSize</key>
                <string>{158,159}</string>
            </dict>
            <key>ui_battle_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{442,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,112}}</string>
                <key>sourceSize</key>
                <string>{442,112}</string>
            </dict>
            <key>ui_battle_loading_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,319},{196,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,22}}</string>
                <key>sourceSize</key>
                <string>{196,22}</string>
            </dict>
            <key>ui_battle_loading_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,117},{217,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,32}}</string>
                <key>sourceSize</key>
                <string>{217,32}</string>
            </dict>
            <key>ui_battle_loading_bar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{371,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,32}}</string>
                <key>sourceSize</key>
                <string>{371,32}</string>
            </dict>
            <key>ui_battle_loading_bar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,36},{349,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,32}}</string>
                <key>sourceSize</key>
                <string>{349,32}</string>
            </dict>
            <key>ui_battle_loading_bar_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{315,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,36}}</string>
                <key>sourceSize</key>
                <string>{315,36}</string>
            </dict>
            <key>ui_battle_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,434},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>ui_battle_qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,70},{35,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{35,45}</string>
            </dict>
            <key>ui_battle_skull.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_battle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6772665be9924cc72507d03484ff5a1:1/1$</string>
            <key>textureFileName</key>
            <string>ui_battle.png</string>
        </dict>
    </dict>
</plist>
