<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_common_ban_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_common_green_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,129},{288,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,125}}</string>
                <key>sourceSize</key>
                <string>{288,125}</string>
            </dict>
            <key>ui_common_green_btn_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{291,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,126}}</string>
                <key>sourceSize</key>
                <string>{291,126}</string>
            </dict>
            <key>ui_common_hint_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,130},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_common_hint_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,130},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_common_orange_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{291,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,126}}</string>
                <key>sourceSize</key>
                <string>{291,126}</string>
            </dict>
            <key>ui_common_orange_btn_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{291,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,126}}</string>
                <key>sourceSize</key>
                <string>{291,126}</string>
            </dict>
            <key>ui_common_red_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{288,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,125}}</string>
                <key>sourceSize</key>
                <string>{288,125}</string>
            </dict>
            <key>ui_common_red_btn_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{291,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,126}}</string>
                <key>sourceSize</key>
                <string>{291,126}</string>
            </dict>
            <key>ui_menu_pause_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
            <key>ui_menu_pause_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,132},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,107}}</string>
                <key>sourceSize</key>
                <string>{102,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_common.png</string>
            <key>size</key>
            <string>{1594,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7acaa2e129910748086ff4084e9316b:1/1$</string>
            <key>textureFileName</key>
            <string>ui_common.png</string>
        </dict>
    </dict>
</plist>
