<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_home_cp_completed.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1952},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>ui_home_cp_opened.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1952},{54,43}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{54,43}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>ui_home_detail_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1111},{118,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,171}}</string>
                <key>sourceSize</key>
                <string>{118,171}</string>
            </dict>
            <key>ui_home_detail_close_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,1153},{110,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,159}}</string>
                <key>sourceSize</key>
                <string>{110,159}</string>
            </dict>
            <key>ui_home_detail_fangdajing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{866,830}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{866,830}}</string>
                <key>sourceSize</key>
                <string>{886,830}</string>
            </dict>
            <key>ui_home_detail_juanzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1283,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1283,1080}}</string>
                <key>sourceSize</key>
                <string>{1283,1080}</string>
            </dict>
            <key>ui_home_detail_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,893},{216,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,234}}</string>
                <key>sourceSize</key>
                <string>{216,234}</string>
            </dict>
            <key>ui_home_detail_start_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,675},{216,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,234}}</string>
                <key>sourceSize</key>
                <string>{216,234}</string>
            </dict>
            <key>ui_home_detail_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1084},{772,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,144}}</string>
                <key>sourceSize</key>
                <string>{772,144}</string>
            </dict>
            <key>ui_home_detail_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,301},{372,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,249}}</string>
                <key>sourceSize</key>
                <string>{372,249}</string>
            </dict>
            <key>ui_home_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2018},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>ui_home_diqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,2},{753,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{753,297}}</string>
                <key>sourceSize</key>
                <string>{753,297}</string>
            </dict>
            <key>ui_home_lianyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1153},{111,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,116}}</string>
                <key>sourceSize</key>
                <string>{111,116}</string>
            </dict>
            <key>ui_home_role_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1084},{200,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,178}}</string>
                <key>sourceSize</key>
                <string>{200,178}</string>
            </dict>
            <key>ui_home_role_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1264},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{180,160}}</string>
                <key>sourceSize</key>
                <string>{200,178}</string>
            </dict>
            <key>ui_home_role_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1952},{79,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,34}}</string>
                <key>sourceSize</key>
                <string>{79,34}</string>
            </dict>
            <key>ui_home_skill_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1952},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ui_home_store_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1148},{173,193}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{173,193}}</string>
                <key>sourceSize</key>
                <string>{203,215}</string>
            </dict>
            <key>ui_home_store_btnl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,953},{193,215}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{193,215}}</string>
                <key>sourceSize</key>
                <string>{203,215}</string>
            </dict>
            <key>ui_home_store_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1952},{79,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,34}}</string>
                <key>sourceSize</key>
                <string>{79,34}</string>
            </dict>
            <key>ui_home_talent_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1952},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>ui_home_task_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,953},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>ui_home_team_skill_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1858},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui_home_team_skill_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,1111},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui_home_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1952},{221,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>ui_home_warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1952},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ui_home_yingxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,1265},{115,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,130}}</string>
                <key>sourceSize</key>
                <string>{115,130}</string>
            </dict>
            <key>ui_home_zhuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,301},{472,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,234}}</string>
                <key>sourceSize</key>
                <string>{472,234}</string>
            </dict>
            <key>ui_home_zhuanpan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,537},{414,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,415}}</string>
                <key>sourceSize</key>
                <string>{414,415}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_home.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abf9bd7b7fb8655bcb18ed5d369480ca:1/1$</string>
            <key>textureFileName</key>
            <string>ui_home.png</string>
        </dict>
    </dict>
</plist>
