<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_skill_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,90},{219,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,85}}</string>
                <key>sourceSize</key>
                <string>{219,85}</string>
            </dict>
            <key>ui_skill_dajineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{229,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,218}}</string>
                <key>sourceSize</key>
                <string>{229,218}</string>
            </dict>
            <key>ui_skill_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,72},{317,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,66}}</string>
                <key>sourceSize</key>
                <string>{317,66}</string>
            </dict>
            <key>ui_skill_dikuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1346,847}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1346,847}}</string>
                <key>sourceSize</key>
                <string>{1346,847}</string>
            </dict>
            <key>ui_skill_jinengdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{200,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,185}}</string>
                <key>sourceSize</key>
                <string>{200,185}</string>
            </dict>
            <key>ui_skill_jinengkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1581},{223,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,209}}</string>
                <key>sourceSize</key>
                <string>{223,209}</string>
            </dict>
            <key>ui_skill_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,311},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>ui_skill_kuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ui_skill_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ui_skill_yijijuexing.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,391},{174,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,55}}</string>
                <key>sourceSize</key>
                <string>{174,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hero_skills.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f3eec90e18b363c41511f825f6df424:1/1$</string>
            <key>textureFileName</key>
            <string>ui_hero_skills.png</string>
        </dict>
    </dict>
</plist>
