<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_hero_atk_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1988},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,45}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>ui_hero_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1688,987}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1688,987}}</string>
                <key>sourceSize</key>
                <string>{1688,987}</string>
            </dict>
            <key>ui_hero_captain_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1988},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>ui_hero_chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,695},{154,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,163}}</string>
                <key>sourceSize</key>
                <string>{154,163}</string>
            </dict>
            <key>ui_hero_class_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1460},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ui_hero_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1988},{39,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,47}}</string>
                <key>sourceSize</key>
                <string>{39,47}</string>
            </dict>
            <key>ui_hero_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1988},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>ui_hero_cost_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,851},{159,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,37}}</string>
                <key>sourceSize</key>
                <string>{159,37}</string>
            </dict>
            <key>ui_hero_def_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1988},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>ui_hero_deployed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1988},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>ui_hero_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,76},{150,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,44}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>ui_hero_diban02.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,991},{380,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,536}}</string>
                <key>sourceSize</key>
                <string>{380,536}</string>
            </dict>
            <key>ui_hero_equip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1460},{79,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,88}}</string>
                <key>sourceSize</key>
                <string>{79,88}</string>
            </dict>
            <key>ui_hero_equip_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1202},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>ui_hero_equip_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1070},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>ui_hero_equip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,2},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>ui_hero_hp_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1988},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>ui_hero_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,991},{156,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,77}}</string>
                <key>sourceSize</key>
                <string>{156,77}</string>
            </dict>
            <key>ui_hero_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1526},{156,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,77}}</string>
                <key>sourceSize</key>
                <string>{156,77}</string>
            </dict>
            <key>ui_hero_info1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1551},{180,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,31}}</string>
                <key>sourceSize</key>
                <string>{180,31}</string>
            </dict>
            <key>ui_hero_info2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,659},{164,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,34}}</string>
                <key>sourceSize</key>
                <string>{164,34}</string>
            </dict>
            <key>ui_hero_jewel_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1988},{123,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,37}}</string>
                <key>sourceSize</key>
                <string>{123,37}</string>
            </dict>
            <key>ui_hero_jewel_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1988},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>ui_hero_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1988},{47,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{47,57}</string>
            </dict>
            <key>ui_hero_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1605},{421,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,413}}</string>
                <key>sourceSize</key>
                <string>{421,413}</string>
            </dict>
            <key>ui_hero_levelup_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2},{243,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,49}}</string>
                <key>sourceSize</key>
                <string>{243,49}</string>
            </dict>
            <key>ui_hero_levelup_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,126},{200,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,71}}</string>
                <key>sourceSize</key>
                <string>{200,71}</string>
            </dict>
            <key>ui_hero_levelup_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,53},{200,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,71}}</string>
                <key>sourceSize</key>
                <string>{200,71}</string>
            </dict>
            <key>ui_hero_lingshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1988},{49,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,60}}</string>
                <key>sourceSize</key>
                <string>{49,60}</string>
            </dict>
            <key>ui_hero_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1460},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>ui_hero_lv_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1334},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>ui_hero_mp_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,1988},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>ui_hero_paizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,263},{394,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,168}}</string>
                <key>sourceSize</key>
                <string>{394,168}</string>
            </dict>
            <key>ui_hero_role_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{457,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,462}}</string>
                <key>sourceSize</key>
                <string>{457,462}</string>
            </dict>
            <key>ui_hero_role_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,199},{1402,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1402,181}}</string>
                <key>sourceSize</key>
                <string>{1402,181}</string>
            </dict>
            <key>ui_hero_role_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1603},{480,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,441}}</string>
                <key>sourceSize</key>
                <string>{480,441}</string>
            </dict>
            <key>ui_hero_role_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1070},{70,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>ui_hero_role_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1988},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>ui_hero_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,122},{139,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,141}}</string>
                <key>sourceSize</key>
                <string>{139,141}</string>
            </dict>
            <key>ui_hero_skill_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1460},{82,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{82,69}</string>
            </dict>
            <key>ui_hero_status_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1605},{381,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,615}}</string>
                <key>sourceSize</key>
                <string>{381,615}</string>
            </dict>
            <key>ui_hero_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,890},{634,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,158}}</string>
                <key>sourceSize</key>
                <string>{634,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hero_manage.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd38a448f8314c7c9fa59300f3c296eb:1/1$</string>
            <key>textureFileName</key>
            <string>ui_hero_manage.png</string>
        </dict>
    </dict>
</plist>
