<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_home_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>ui_home_dibiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,959},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>ui_home_dibiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,959},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>ui_home_diqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{753,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{753,297}}</string>
                <key>sourceSize</key>
                <string>{753,297}</string>
            </dict>
            <key>ui_home_role_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,301},{200,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,178}}</string>
                <key>sourceSize</key>
                <string>{200,178}</string>
            </dict>
            <key>ui_home_role_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,301},{180,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{180,160}}</string>
                <key>sourceSize</key>
                <string>{200,178}</string>
            </dict>
            <key>ui_home_role_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{79,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,34}}</string>
                <key>sourceSize</key>
                <string>{79,34}</string>
            </dict>
            <key>ui_home_skill_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,463},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ui_home_store_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{173,193}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{173,193}}</string>
                <key>sourceSize</key>
                <string>{203,215}</string>
            </dict>
            <key>ui_home_store_btnl.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,476},{193,215}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{193,215}}</string>
                <key>sourceSize</key>
                <string>{203,215}</string>
            </dict>
            <key>ui_home_store_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{79,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,34}}</string>
                <key>sourceSize</key>
                <string>{79,34}</string>
            </dict>
            <key>ui_home_talent_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,463},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>ui_home_task_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,481},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>ui_home_team_skill_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,681},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui_home_team_skill_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,301},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{162,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ui_home_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,893},{221,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>ui_home_warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,959},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ui_home_xiaolu.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,671},{182,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,175}}</string>
                <key>sourceSize</key>
                <string>{182,175}</string>
            </dict>
            <key>ui_home_zhuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{472,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,234}}</string>
                <key>sourceSize</key>
                <string>{472,234}</string>
            </dict>
            <key>ui_home_zhuanpan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{414,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,415}}</string>
                <key>sourceSize</key>
                <string>{414,415}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_home.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d27e84a24d6a7af9ba58bb9db1a35f41:1/1$</string>
            <key>textureFileName</key>
            <string>ui_home.png</string>
        </dict>
    </dict>
</plist>
