<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_hero_f_dracula.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,2},{138,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,136}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>ui_hero_f_durarara.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>ui_hero_f_enchantress.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>ui_hero_f_gandalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>ui_hero_f_hippolyta.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>ui_hero_f_ice_witch.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>ui_hero_f_kyle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,2},{135,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>ui_hero_f_saber.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>ui_hero_f_vanhelsing.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>ui_hero_f_zeus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hero_f.png</string>
            <key>size</key>
            <string>{1396,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2ef27d5fe3e79527304aba3ae2272e:1/1$</string>
            <key>textureFileName</key>
            <string>ui_hero_f.png</string>
        </dict>
    </dict>
</plist>
