<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_detail_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1289},{119,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,128}}</string>
                <key>sourceSize</key>
                <string>{119,128}</string>
            </dict>
            <key>ui_detail_armor_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,985},{41,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,75}}</string>
                <key>sourceSize</key>
                <string>{41,75}</string>
            </dict>
            <key>ui_detail_back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1159},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_detail_banzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,774},{209,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,76}}</string>
                <key>sourceSize</key>
                <string>{209,76}</string>
            </dict>
            <key>ui_detail_boot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{115,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,126}}</string>
                <key>sourceSize</key>
                <string>{115,126}</string>
            </dict>
            <key>ui_detail_boot_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1028},{43,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,74}}</string>
                <key>sourceSize</key>
                <string>{43,74}</string>
            </dict>
            <key>ui_detail_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{859,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{859,770}}</string>
                <key>sourceSize</key>
                <string>{859,770}</string>
            </dict>
            <key>ui_detail_diban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{518,769}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,769}}</string>
                <key>sourceSize</key>
                <string>{518,769}</string>
            </dict>
            <key>ui_detail_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,149},{168,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,157}}</string>
                <key>sourceSize</key>
                <string>{168,157}</string>
            </dict>
            <key>ui_detail_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,842},{182,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,171}}</string>
                <key>sourceSize</key>
                <string>{182,171}</string>
            </dict>
            <key>ui_detail_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{159,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,145}}</string>
                <key>sourceSize</key>
                <string>{159,145}</string>
            </dict>
            <key>ui_detail_icon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,319},{155,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,136}}</string>
                <key>sourceSize</key>
                <string>{155,136}</string>
            </dict>
            <key>ui_detail_icon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,604},{145,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,125}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>ui_detail_icon06.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1159},{195,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,40}}</string>
                <key>sourceSize</key>
                <string>{195,40}</string>
            </dict>
            <key>ui_detail_icon07.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1356},{182,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,38}}</string>
                <key>sourceSize</key>
                <string>{182,38}</string>
            </dict>
            <key>ui_detail_icon08.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,457},{146,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,145}</string>
            </dict>
            <key>ui_detail_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>ui_detail_prev_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1161},{71,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,104}}</string>
                <key>sourceSize</key>
                <string>{71,104}</string>
            </dict>
            <key>ui_detail_prev_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1267},{71,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,104}}</string>
                <key>sourceSize</key>
                <string>{71,104}</string>
            </dict>
            <key>ui_detail_sell_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{259,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,89}}</string>
                <key>sourceSize</key>
                <string>{259,89}</string>
            </dict>
            <key>ui_detail_sell_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{259,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,89}}</string>
                <key>sourceSize</key>
                <string>{259,89}</string>
            </dict>
            <key>ui_detail_shipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,731},{138,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,109}}</string>
                <key>sourceSize</key>
                <string>{138,109}</string>
            </dict>
            <key>ui_detail_shipin_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1073},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>ui_detail_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1026},{136,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,131}}</string>
                <key>sourceSize</key>
                <string>{136,131}</string>
            </dict>
            <key>ui_detail_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1801},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>ui_detail_weapon_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1117},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hero_detail.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3086d440d1316435193aea341eabc36:50ee3401ee43cc4b8773c17054f31654:dada9c692d88dc784fd32878133d1717$</string>
            <key>textureFileName</key>
            <string>ui_hero_detail.png</string>
        </dict>
    </dict>
</plist>
