<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_movie_chat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1708},{161,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,420}}</string>
                <key>sourceSize</key>
                <string>{161,420}</string>
            </dict>
            <key>ui_movie_chat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1708},{161,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,206}}</string>
                <key>sourceSize</key>
                <string>{161,206}</string>
            </dict>
            <key>ui_movie_chat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1871},{161,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,375}}</string>
                <key>sourceSize</key>
                <string>{161,375}</string>
            </dict>
            <key>ui_movie_chat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1871},{161,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,347}}</string>
                <key>sourceSize</key>
                <string>{161,347}</string>
            </dict>
            <key>ui_movie_crack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{587,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{587,414}}</string>
                <key>sourceSize</key>
                <string>{589,418}</string>
            </dict>
            <key>ui_movie_dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,418},{490,432}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{490,432}}</string>
                <key>sourceSize</key>
                <string>{496,436}</string>
            </dict>
            <key>ui_movie_p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1041}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1041}}</string>
                <key>sourceSize</key>
                <string>{720,1041}</string>
            </dict>
            <key>ui_movie_p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1045},{453,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,598}}</string>
                <key>sourceSize</key>
                <string>{453,598}</string>
            </dict>
            <key>ui_movie_p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,418},{492,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,501}}</string>
                <key>sourceSize</key>
                <string>{492,501}</string>
            </dict>
            <key>ui_movie_p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{555,661}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{555,661}}</string>
                <key>sourceSize</key>
                <string>{555,665}</string>
            </dict>
            <key>ui_movie_wang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1708},{232,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,191}}</string>
                <key>sourceSize</key>
                <string>{232,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_movie5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87d357864a3f3449ac3fc61e2eaa76a3:1/1$</string>
            <key>textureFileName</key>
            <string>ui_movie5.png</string>
        </dict>
    </dict>
</plist>
