<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>07_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{588,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,640}}</string>
                <key>sourceSize</key>
                <string>{588,640}</string>
            </dict>
            <key>ui_movie6_boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,417},{243,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{243,233}}</string>
                <key>sourceSize</key>
                <string>{243,237}</string>
            </dict>
            <key>ui_movie6_chat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,2},{330,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,320}}</string>
                <key>sourceSize</key>
                <string>{330,320}</string>
            </dict>
            <key>ui_movie6_chat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,812},{169,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,213}}</string>
                <key>sourceSize</key>
                <string>{169,213}</string>
            </dict>
            <key>ui_movie6_chat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,422},{169,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,244}}</string>
                <key>sourceSize</key>
                <string>{169,244}</string>
            </dict>
            <key>ui_movie6_dust.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{413,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,154}}</string>
                <key>sourceSize</key>
                <string>{413,154}</string>
            </dict>
            <key>ui_movie6_kapow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{638,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{638,420}}</string>
                <key>sourceSize</key>
                <string>{638,424}</string>
            </dict>
            <key>ui_movie6_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{635,672}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,672}}</string>
                <key>sourceSize</key>
                <string>{635,672}</string>
            </dict>
            <key>ui_movie7_baby1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1922},{100,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,103}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>ui_movie7_baby2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,676},{524,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,476}}</string>
                <key>sourceSize</key>
                <string>{524,476}</string>
            </dict>
            <key>ui_movie7_chat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,626},{169,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,213}}</string>
                <key>sourceSize</key>
                <string>{169,213}</string>
            </dict>
            <key>ui_movie7_chat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,423},{169,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,310}}</string>
                <key>sourceSize</key>
                <string>{169,310}</string>
            </dict>
            <key>ui_movie7_chat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,789},{143,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,148}}</string>
                <key>sourceSize</key>
                <string>{143,148}</string>
            </dict>
            <key>ui_movie7_chat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,667},{143,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,175}}</string>
                <key>sourceSize</key>
                <string>{143,175}</string>
            </dict>
            <key>ui_movie7_chat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,626},{161,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,274}}</string>
                <key>sourceSize</key>
                <string>{161,274}</string>
            </dict>
            <key>ui_movie7_chat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{180,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,373}}</string>
                <key>sourceSize</key>
                <string>{180,373}</string>
            </dict>
            <key>ui_movie7_dust.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1318},{602,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,292}}</string>
                <key>sourceSize</key>
                <string>{602,292}</string>
            </dict>
            <key>ui_movie7_gbl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{388,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,401}}</string>
                <key>sourceSize</key>
                <string>{388,401}</string>
            </dict>
            <key>ui_movie7_gbl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,748},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>ui_movie7_gbl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,334},{319,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,290}}</string>
                <key>sourceSize</key>
                <string>{319,290}</string>
            </dict>
            <key>ui_movie7_gbl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,405},{260,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,227}}</string>
                <key>sourceSize</key>
                <string>{260,227}</string>
            </dict>
            <key>ui_movie7_gbl5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,184},{337,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,237}}</string>
                <key>sourceSize</key>
                <string>{337,237}</string>
            </dict>
            <key>ui_movie7_hand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{159,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,418}}</string>
                <key>sourceSize</key>
                <string>{159,418}</string>
            </dict>
            <key>ui_movie7_hand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,594},{281,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,152}}</string>
                <key>sourceSize</key>
                <string>{281,152}</string>
            </dict>
            <key>ui_movie7_skull.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1958},{70,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,112}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_movie67.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21b7305df993d941cb1a9c1c66711a2b:1/1$</string>
            <key>textureFileName</key>
            <string>ui_movie67.png</string>
        </dict>
    </dict>
</plist>
