<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_movie02_flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{1376,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1376,424}}</string>
                <key>sourceSize</key>
                <string>{1376,424}</string>
            </dict>
            <key>ui_movie02_flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1510},{1284,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1284,426}}</string>
                <key>sourceSize</key>
                <string>{1284,426}</string>
            </dict>
            <key>ui_movie02_flower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,2},{1241,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1241,474}}</string>
                <key>sourceSize</key>
                <string>{1241,474}</string>
            </dict>
            <key>ui_movie02_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1505,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1505,1080}}</string>
                <key>sourceSize</key>
                <string>{1505,1080}</string>
            </dict>
            <key>ui_movie02_princess.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{412,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,449}}</string>
                <key>sourceSize</key>
                <string>{412,449}</string>
            </dict>
            <key>ui_movie02_soldier.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1245},{253,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,419}}</string>
                <key>sourceSize</key>
                <string>{253,419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_movie2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a51cc71870f08b93109fe2aa722dec0b:1/1$</string>
            <key>textureFileName</key>
            <string>ui_movie2.png</string>
        </dict>
    </dict>
</plist>
