<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_movie4_chat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,2},{150,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,435}}</string>
                <key>sourceSize</key>
                <string>{150,435}</string>
            </dict>
            <key>ui_movie4_chat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,332},{156,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,320}}</string>
                <key>sourceSize</key>
                <string>{156,320}</string>
            </dict>
            <key>ui_movie4_chat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,154},{176,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,368}}</string>
                <key>sourceSize</key>
                <string>{176,368}</string>
            </dict>
            <key>ui_movie4_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,654},{313,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,256}}</string>
                <key>sourceSize</key>
                <string>{313,256}</string>
            </dict>
            <key>ui_movie4_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{507,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,410}}</string>
                <key>sourceSize</key>
                <string>{507,410}</string>
            </dict>
            <key>ui_movie4_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,414},{140,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,204}}</string>
                <key>sourceSize</key>
                <string>{140,204}</string>
            </dict>
            <key>ui_movie4_p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{926,1042}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{926,1042}}</string>
                <key>sourceSize</key>
                <string>{926,1042}</string>
            </dict>
            <key>ui_movie4_p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{1034,928}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1034,928}}</string>
                <key>sourceSize</key>
                <string>{1034,928}</string>
            </dict>
            <key>ui_movie4_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>ui_movie4_toy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,534},{190,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,290}}</string>
                <key>sourceSize</key>
                <string>{190,290}</string>
            </dict>
            <key>ui_movie4_toy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,332},{200,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,332}}</string>
                <key>sourceSize</key>
                <string>{200,332}</string>
            </dict>
            <key>ui_movie4_toy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,414},{262,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,310}}</string>
                <key>sourceSize</key>
                <string>{262,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_movie4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48ee25cd58f66971f0ddbd7af97376d4:1/1$</string>
            <key>textureFileName</key>
            <string>ui_movie4.png</string>
        </dict>
    </dict>
</plist>
