<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_pause_continue_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,295},{288,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,125}}</string>
                <key>sourceSize</key>
                <string>{288,125}</string>
            </dict>
            <key>ui_pause_continue_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,782},{291,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,126}}</string>
                <key>sourceSize</key>
                <string>{291,126}</string>
            </dict>
            <key>ui_pause_failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,702},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>ui_pause_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1038},{89,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,68}}</string>
                <key>sourceSize</key>
                <string>{89,68}</string>
            </dict>
            <key>ui_pause_home_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,295},{288,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,125}}</string>
                <key>sourceSize</key>
                <string>{288,125}</string>
            </dict>
            <key>ui_pause_home_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,910},{291,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,126}}</string>
                <key>sourceSize</key>
                <string>{291,126}</string>
            </dict>
            <key>ui_pause_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1038},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>ui_pause_mission_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1261,778}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1261,778}}</string>
                <key>sourceSize</key>
                <string>{1261,778}</string>
            </dict>
            <key>ui_pause_primary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,585},{115,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,117}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>ui_pause_primary_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{1143,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1143,169}}</string>
                <key>sourceSize</key>
                <string>{1143,169}</string>
            </dict>
            <key>ui_pause_restart_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,2},{288,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,125}}</string>
                <key>sourceSize</key>
                <string>{288,125}</string>
            </dict>
            <key>ui_pause_restart_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,2},{291,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,126}}</string>
                <key>sourceSize</key>
                <string>{291,126}</string>
            </dict>
            <key>ui_pause_secondary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,585},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,115}</string>
            </dict>
            <key>ui_pause_secondary_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{1141,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1141,153}}</string>
                <key>sourceSize</key>
                <string>{1141,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pause.png</string>
            <key>size</key>
            <string>{1520,1108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9fbdb548dac1887a6a9959320aa1911:34864558caee759611dd96935898e11f:6fd6d79668ade3b3938e7c1e08d1e942$</string>
            <key>textureFileName</key>
            <string>ui_pause.png</string>
        </dict>
    </dict>
</plist>
