<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_skill_icon_barrage_of_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,354},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_bat_swarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,354},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_crazy_scratch.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,732},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_crazy_shoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,543},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_dark_illusion.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,354},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_dark_pierce.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,178},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_dread_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,178},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_giant_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,178},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_hunting_intuition.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,178},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_ice_debris.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_impetus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_light_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_lightning_chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_natures_attendants.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_ninth_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_penetrate_spear.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_snow_storm.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>ui_skill_icon_wrath_of_thunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_skill_icon.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69d4d5d88a31bcbea3a33dd32ab2e0bf:1/1$</string>
            <key>textureFileName</key>
            <string>ui_skill_icon.png</string>
        </dict>
    </dict>
</plist>
