<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_talent_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1497},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>ui_talent_balance.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1464},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>ui_talent_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1259,766}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1259,766}}</string>
                <key>sourceSize</key>
                <string>{1259,766}</string>
            </dict>
            <key>ui_talent_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1450},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>ui_talent_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1263},{185,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,172}}</string>
                <key>sourceSize</key>
                <string>{185,172}</string>
            </dict>
            <key>ui_talent_frame_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1263},{199,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,186}}</string>
                <key>sourceSize</key>
                <string>{199,186}</string>
            </dict>
            <key>ui_talent_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1464},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>ui_talent_small_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1497},{83,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,39}}</string>
                <key>sourceSize</key>
                <string>{83,39}</string>
            </dict>
            <key>ui_talent_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1538},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>ui_talent_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1497},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>ui_talent_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1263},{232,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,174}}</string>
                <key>sourceSize</key>
                <string>{232,174}</string>
            </dict>
            <key>ui_talent_tab_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1263},{232,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,174}}</string>
                <key>sourceSize</key>
                <string>{232,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_talent.png</string>
            <key>size</key>
            <string>{770,1600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecf43a67ad3e8e2f41148db5c61dd88d:1/1$</string>
            <key>textureFileName</key>
            <string>ui_talent.png</string>
        </dict>
    </dict>
</plist>
