<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_general_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,884},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_losepage_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{760,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,356}}</string>
                <key>sourceSize</key>
                <string>{760,356}</string>
            </dict>
            <key>ui_winpage_biaotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,122},{758,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,398}}</string>
                <key>sourceSize</key>
                <string>{758,398}</string>
            </dict>
            <key>ui_winpage_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,884},{118,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,103}}</string>
                <key>sourceSize</key>
                <string>{118,103}</string>
            </dict>
            <key>ui_winpage_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,122},{156,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,147}}</string>
                <key>sourceSize</key>
                <string>{156,147}</string>
            </dict>
            <key>ui_winpage_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{995,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{995,46}}</string>
                <key>sourceSize</key>
                <string>{995,46}</string>
            </dict>
            <key>ui_winpage_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1015,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1015,70}}</string>
                <key>sourceSize</key>
                <string>{1015,70}</string>
            </dict>
            <key>ui_winpage_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_win_lose_page.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a25614724dd557e45bb3ec6b9aba065:1/1$</string>
            <key>textureFileName</key>
            <string>ui_win_lose_page.png</string>
        </dict>
    </dict>
</plist>
