*.o
*.swp
*.obj
*.DS_Store

*.xcbkptlist

*.xcuserstate

.DS_Store

.DS_Store

res/ui/.DS_Store

.DS_Store

res/maps/map_images/.DS_Store

frameworks/runtime-src/proj.ios_mac/Boids.xcodeproj/xcuserdata/chenyanjie.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcbkptlist

*.xcuserstate

*.xcuserstate

*.filters

*.rc

*.xcbkptlist

*.xcuserstate

*.xcuserstate

*.xcbkptlist
