<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{78,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,24}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>enchantress_javelin.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{71,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,20}}</string>
                <key>sourceSize</key>
                <string>{71,20}</string>
            </dict>
            <key>enchantress_skill_javelin.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,81},{72,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,21}}</string>
                <key>sourceSize</key>
                <string>{72,21}</string>
            </dict>
            <key>human_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,104},{71,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,21}}</string>
                <key>sourceSize</key>
                <string>{71,21}</string>
            </dict>
            <key>silver_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{113,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,21}}</string>
                <key>sourceSize</key>
                <string>{113,21}</string>
            </dict>
            <key>thunderbolt.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{77,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,28}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
            <key>zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullets.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40cb57ff33bd8af74d2b9b3b3eda3181:1/1$</string>
            <key>textureFileName</key>
            <string>bullets.png</string>
        </dict>
    </dict>
</plist>
