<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{78,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,24}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{79,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,54}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>enchantress_javelin.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,156},{71,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,20}}</string>
                <key>sourceSize</key>
                <string>{71,20}</string>
            </dict>
            <key>enchantress_skill_javelin.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,156},{72,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,21}}</string>
                <key>sourceSize</key>
                <string>{72,21}</string>
            </dict>
            <key>flamingo.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,107},{54,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>human_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,230},{71,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,21}}</string>
                <key>sourceSize</key>
                <string>{71,21}</string>
            </dict>
            <key>silver_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,21}}</string>
                <key>sourceSize</key>
                <string>{113,21}</string>
            </dict>
            <key>spear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{144,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,18}}</string>
                <key>sourceSize</key>
                <string>{144,18}</string>
            </dict>
            <key>thunderbolt.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,65},{77,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,28}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
            <key>zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,25},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullets.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad24881ed2b049dba3b1383602fbf53c:1/1$</string>
            <key>textureFileName</key>
            <string>bullets.png</string>
        </dict>
    </dict>
</plist>
