<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anquandiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1350},{345,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,479}}</string>
                <key>sourceSize</key>
                <string>{345,479}</string>
            </dict>
            <key>baisezhangpeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1426},{323,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,226}}</string>
                <key>sourceSize</key>
                <string>{323,226}</string>
            </dict>
            <key>baolei_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1498},{169,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,385}}</string>
                <key>sourceSize</key>
                <string>{169,385}</string>
            </dict>
            <key>baolei_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{188,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,453}}</string>
                <key>sourceSize</key>
                <string>{188,453}</string>
            </dict>
            <key>binansuo1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{752,698}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,698}}</string>
                <key>sourceSize</key>
                <string>{752,698}</string>
            </dict>
            <key>binansuo1_unnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{740,660}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{740,660}}</string>
                <key>sourceSize</key>
                <string>{752,698}</string>
            </dict>
            <key>binansuo2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,606},{520,400}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{520,400}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>binansuo2_unnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1008},{520,340}}</string>
                <key>offset</key>
                <string>{-20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{520,340}}</string>
                <key>sourceSize</key>
                <string>{560,420}</string>
            </dict>
            <key>binansuo3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,1350},{354,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{354,336}}</string>
                <key>sourceSize</key>
                <string>{400,336}</string>
            </dict>
            <key>binansuo3_unnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,526},{398,314}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{398,314}}</string>
                <key>sourceSize</key>
                <string>{400,336}</string>
            </dict>
            <key>binansuo5_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,756},{520,668}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,668}}</string>
                <key>sourceSize</key>
                <string>{520,668}</string>
            </dict>
            <key>binansuo5_unnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{520,602}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{520,602}}</string>
                <key>sourceSize</key>
                <string>{520,668}</string>
            </dict>
            <key>caowu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,926},{314,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,338}}</string>
                <key>sourceSize</key>
                <string>{314,338}</string>
            </dict>
            <key>church_right_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{362,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{362,534}}</string>
                <key>sourceSize</key>
                <string>{400,534}</string>
            </dict>
            <key>church_right_unnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{366,522}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{366,522}}</string>
                <key>sourceSize</key>
                <string>{400,534}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_1.png</string>
            <key>size</key>
            <string>{2024,1703}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34a9c4b3279564ba0bd3ecb0ffe090f3:1/1$</string>
            <key>textureFileName</key>
            <string>building_1.png</string>
        </dict>
    </dict>
</plist>
