<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fashiyanjiusuo (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{519,489},{502,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,512}}</string>
                <key>sourceSize</key>
                <string>{502,512}</string>
            </dict>
            <key>fengche.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,565}}</string>
                <key>sourceSize</key>
                <string>{414,565}</string>
            </dict>
            <key>goutourenmuwu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{423,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,485}}</string>
                <key>sourceSize</key>
                <string>{423,485}</string>
            </dict>
            <key>jinglingxiaowu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{515,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,386}}</string>
                <key>sourceSize</key>
                <string>{515,386}</string>
            </dict>
            <key>jiuguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{477,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,500}}</string>
                <key>sourceSize</key>
                <string>{477,500}</string>
            </dict>
            <key>kuangche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1285},{129,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,122}}</string>
                <key>sourceSize</key>
                <string>{129,122}</string>
            </dict>
            <key>kuangdong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1003},{480,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,397}}</string>
                <key>sourceSize</key>
                <string>{480,397}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec7408b08109a527b0f65dcef1ccc65:1/1$</string>
            <key>textureFileName</key>
            <string>building_2.png</string>
        </dict>
    </dict>
</plist>
