<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinglingxiaowu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{515,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,386}}</string>
                <key>sourceSize</key>
                <string>{515,386}</string>
            </dict>
            <key>jiuguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{477,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,500}}</string>
                <key>sourceSize</key>
                <string>{477,500}</string>
            </dict>
            <key>jiuguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,390},{477,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,500}}</string>
                <key>sourceSize</key>
                <string>{477,500}</string>
            </dict>
            <key>langtuteng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1371},{440,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,433}}</string>
                <key>sourceSize</key>
                <string>{440,433}</string>
            </dict>
            <key>matou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,2},{421,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,189}}</string>
                <key>sourceSize</key>
                <string>{421,189}</string>
            </dict>
            <key>matou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,610},{397,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,405}}</string>
                <key>sourceSize</key>
                <string>{397,405}</string>
            </dict>
            <key>minju_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1650},{352,369}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,369}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>minju_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1279},{352,369}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,369}}</string>
                <key>sourceSize</key>
                <string>{352,371}</string>
            </dict>
            <key>minju_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,869},{259,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,408}}</string>
                <key>sourceSize</key>
                <string>{259,408}</string>
            </dict>
            <key>muwu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1371},{482,292}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{482,292}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>renleibingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{664,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,606}}</string>
                <key>sourceSize</key>
                <string>{664,606}</string>
            </dict>
            <key>renleibingying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,606}}</string>
                <key>sourceSize</key>
                <string>{664,606}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0a0563f3b639c832134818ee15b9e73:1/1$</string>
            <key>textureFileName</key>
            <string>building_3.png</string>
        </dict>
    </dict>
</plist>
