<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shaota_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,640},{166,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,308}}</string>
                <key>sourceSize</key>
                <string>{166,308}</string>
            </dict>
            <key>shaota_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,330},{166,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,308}}</string>
                <key>sourceSize</key>
                <string>{166,308}</string>
            </dict>
            <key>shourenbingying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{755,761}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,761}}</string>
                <key>sourceSize</key>
                <string>{755,761}</string>
            </dict>
            <key>shuijing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,166},{162,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,210}}</string>
                <key>sourceSize</key>
                <string>{162,210}</string>
            </dict>
            <key>shuijing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{162,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,210}}</string>
                <key>sourceSize</key>
                <string>{162,210}</string>
            </dict>
            <key>shuwu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,759},{307,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,417}}</string>
                <key>sourceSize</key>
                <string>{307,417}</string>
            </dict>
            <key>shuwu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{307,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,417}}</string>
                <key>sourceSize</key>
                <string>{307,417}</string>
            </dict>
            <key>zahuopu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{347,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,271}}</string>
                <key>sourceSize</key>
                <string>{347,271}</string>
            </dict>
            <key>zahuopu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,950},{347,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,271}}</string>
                <key>sourceSize</key>
                <string>{347,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d571c22e846ce42f99fa1a26c83699a:1/1$</string>
            <key>textureFileName</key>
            <string>building_4.png</string>
        </dict>
    </dict>
</plist>
