<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caowu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,674},{314,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,338}}</string>
                <key>sourceSize</key>
                <string>{314,338}</string>
            </dict>
            <key>caowu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,674},{314,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,338}}</string>
                <key>sourceSize</key>
                <string>{314,338}</string>
            </dict>
            <key>church_left_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1080},{362,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{362,534}}</string>
                <key>sourceSize</key>
                <string>{400,534}</string>
            </dict>
            <key>church_left_unnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{366,522}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,12},{366,522}}</string>
                <key>sourceSize</key>
                <string>{400,534}</string>
            </dict>
            <key>church_right_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1080},{362,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{362,534}}</string>
                <key>sourceSize</key>
                <string>{400,534}</string>
            </dict>
            <key>church_right_unnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1647},{366,522}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{366,522}}</string>
                <key>sourceSize</key>
                <string>{400,534}</string>
            </dict>
            <key>dijingminju_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,674},{339,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,339}}</string>
                <key>sourceSize</key>
                <string>{339,339}</string>
            </dict>
            <key>dijingminju_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,990},{337,337}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{337,337}}</string>
                <key>sourceSize</key>
                <string>{339,339}</string>
            </dict>
            <key>dijingyanjiusuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{778,670}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,670}}</string>
                <key>sourceSize</key>
                <string>{778,670}</string>
            </dict>
            <key>dijingyanjiusuo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{778,670}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,670}}</string>
                <key>sourceSize</key>
                <string>{778,670}</string>
            </dict>
            <key>dixiamuxue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,394},{684,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,426}}</string>
                <key>sourceSize</key>
                <string>{684,426}</string>
            </dict>
            <key>fashiyanjiusuo (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1080},{502,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,512}}</string>
                <key>sourceSize</key>
                <string>{502,512}</string>
            </dict>
            <key>fengche.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{414,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,565}}</string>
                <key>sourceSize</key>
                <string>{414,565}</string>
            </dict>
            <key>goutourenmuwu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{390,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,470}}</string>
                <key>sourceSize</key>
                <string>{390,470}</string>
            </dict>
            <key>goutourenmuwu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1616},{424,485}}</string>
                <key>offset</key>
                <string>{-14,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,32},{424,485}}</string>
                <key>sourceSize</key>
                <string>{668,585}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef01e26b96d6eaff59d00ff47a88f581:1/1$</string>
            <key>textureFileName</key>
            <string>building_2.png</string>
        </dict>
    </dict>
</plist>
