<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>posunshaota_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1704},{258,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{258,326}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>posunshaota_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1888},{258,150}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,181},{258,150}}</string>
                <key>sourceSize</key>
                <string>{290,336}</string>
            </dict>
            <key>renleibingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{664,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,606}}</string>
                <key>sourceSize</key>
                <string>{664,606}</string>
            </dict>
            <key>shanzeibingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1431},{455,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,390}}</string>
                <key>sourceSize</key>
                <string>{455,390}</string>
            </dict>
            <key>shanzeizhangpeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,765},{420,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,309}}</string>
                <key>sourceSize</key>
                <string>{420,309}</string>
            </dict>
            <key>shaota_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1187},{166,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,308}}</string>
                <key>sourceSize</key>
                <string>{166,308}</string>
            </dict>
            <key>shourenbingying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{755,761}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,761}}</string>
                <key>sourceSize</key>
                <string>{755,761}</string>
            </dict>
            <key>shourenminju_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1704},{258,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,312}}</string>
                <key>sourceSize</key>
                <string>{258,312}</string>
            </dict>
            <key>shuijing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1187},{162,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,210}}</string>
                <key>sourceSize</key>
                <string>{162,210}</string>
            </dict>
            <key>shuwu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1399},{307,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,417}}</string>
                <key>sourceSize</key>
                <string>{307,417}</string>
            </dict>
            <key>shuwu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1431},{470,312}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,30},{470,312}}</string>
                <key>sourceSize</key>
                <string>{614,400}</string>
            </dict>
            <key>zahuopu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1355},{347,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,271}}</string>
                <key>sourceSize</key>
                <string>{347,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de8997332c8b1f71039eec6c9015c707:1/1$</string>
            <key>textureFileName</key>
            <string>building_4.png</string>
        </dict>
    </dict>
</plist>
