<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dijingminju_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1346},{339,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,339}}</string>
                <key>sourceSize</key>
                <string>{339,339}</string>
            </dict>
            <key>dijingtianxianta.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1383},{246,344}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,344}}</string>
                <key>sourceSize</key>
                <string>{252,344}</string>
            </dict>
            <key>dijingyanjiusuo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{778,670}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,670}}</string>
                <key>sourceSize</key>
                <string>{778,670}</string>
            </dict>
            <key>dixiamuxue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{684,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,426}}</string>
                <key>sourceSize</key>
                <string>{684,426}</string>
            </dict>
            <key>fashiyanjiusuo (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{502,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,512}}</string>
                <key>sourceSize</key>
                <string>{502,512}</string>
            </dict>
            <key>fengchao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1729},{171,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,176}}</string>
                <key>sourceSize</key>
                <string>{171,176}</string>
            </dict>
            <key>fengche.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1531},{414,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,565}}</string>
                <key>sourceSize</key>
                <string>{414,565}</string>
            </dict>
            <key>goutourenmuwu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,921},{423,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,485}}</string>
                <key>sourceSize</key>
                <string>{423,485}</string>
            </dict>
            <key>jinglingbingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,484},{368,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,435}}</string>
                <key>sourceSize</key>
                <string>{368,435}</string>
            </dict>
            <key>jinglingdiaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1383},{452,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,431}}</string>
                <key>sourceSize</key>
                <string>{452,431}</string>
            </dict>
            <key>jinglingxiaowu.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,516},{515,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,386}}</string>
                <key>sourceSize</key>
                <string>{515,386}</string>
            </dict>
            <key>jiuguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,904},{477,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,500}}</string>
                <key>sourceSize</key>
                <string>{477,500}</string>
            </dict>
            <key>kuangche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1816},{129,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,122}}</string>
                <key>sourceSize</key>
                <string>{129,122}</string>
            </dict>
            <key>kuangdong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{480,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,397}}</string>
                <key>sourceSize</key>
                <string>{480,397}</string>
            </dict>
            <key>kuangdong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{562,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,427}}</string>
                <key>sourceSize</key>
                <string>{562,427}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_2.png</string>
            <key>size</key>
            <string>{1685,1947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53d5b45251b07505f18cc2a7e286a5da:1/1$</string>
            <key>textureFileName</key>
            <string>building_2.png</string>
        </dict>
    </dict>
</plist>
