<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,459},{90,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,81}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
            <key>baoxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{132,109}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{132,109}}</string>
                <key>sourceSize</key>
                <string>{200,135}</string>
            </dict>
            <key>caoche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,882},{133,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,129}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>chilun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,945},{81,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,68}}</string>
                <key>sourceSize</key>
                <string>{81,68}</string>
            </dict>
            <key>chilun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>diaoche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{223,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,277}}</string>
                <key>sourceSize</key>
                <string>{223,277}</string>
            </dict>
            <key>diaoxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{335,662}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,662}}</string>
                <key>sourceSize</key>
                <string>{335,662}</string>
            </dict>
            <key>diaoxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,257},{161,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,200}}</string>
                <key>sourceSize</key>
                <string>{161,200}</string>
            </dict>
            <key>dijinghuojian_01 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{68,945},{67,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>dijinghuojian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,190},{85,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,54}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>dijinghuojiandui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,666},{214,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,168}}</string>
                <key>sourceSize</key>
                <string>{214,168}</string>
            </dict>
            <key>dijingzhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,190},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>ganguo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,113},{142,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,131}}</string>
                <key>sourceSize</key>
                <string>{142,131}</string>
            </dict>
            <key>guanzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,944},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>kulou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>kulou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,945},{73,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,49}}</string>
                <key>sourceSize</key>
                <string>{73,49}</string>
            </dict>
            <key>kuloudui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{440,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,185}}</string>
                <key>sourceSize</key>
                <string>{440,185}</string>
            </dict>
            <key>kuloudui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,63},{125,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,105}}</string>
                <key>sourceSize</key>
                <string>{125,105}</string>
            </dict>
            <key>kuloutou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>kuloutou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,882},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{88,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>decoration_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9869ff185842ec5297bcc76f47c9019b:1/1$</string>
            <key>textureFileName</key>
            <string>decoration_1.png</string>
        </dict>
    </dict>
</plist>
