<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{155,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,90}}</string>
                <key>sourceSize</key>
                <string>{155,90}</string>
            </dict>
            <key>huxinghuatan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,336},{311,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,204}}</string>
                <key>sourceSize</key>
                <string>{311,204}</string>
            </dict>
            <key>huxinghuatan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{313,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,218}}</string>
                <key>sourceSize</key>
                <string>{313,218}</string>
            </dict>
            <key>jinglingshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,649},{142,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,199}}</string>
                <key>sourceSize</key>
                <string>{142,199}</string>
            </dict>
            <key>kulou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,254},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>kulou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,189},{73,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,49}}</string>
                <key>sourceSize</key>
                <string>{73,49}</string>
            </dict>
            <key>kuloudui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,185}}</string>
                <key>sourceSize</key>
                <string>{440,185}</string>
            </dict>
            <key>kuloudui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,625},{125,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,105}}</string>
                <key>sourceSize</key>
                <string>{125,105}</string>
            </dict>
            <key>kuloutou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,405},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>kuloutou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,789},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{88,60}</string>
            </dict>
            <key>kulouzhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,470},{228,250}}</string>
                <key>offset</key>
                <string>{46,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,49},{228,250}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>lazhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{68,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,100}}</string>
                <key>sourceSize</key>
                <string>{68,100}</string>
            </dict>
            <key>lazhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,299},{35,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,71}}</string>
                <key>sourceSize</key>
                <string>{35,71}</string>
            </dict>
            <key>longgu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{421,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,250}}</string>
                <key>sourceSize</key>
                <string>{421,250}</string>
            </dict>
            <key>ludeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{103,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,178}}</string>
                <key>sourceSize</key>
                <string>{103,178}</string>
            </dict>
            <key>ludeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,787},{63,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,126}}</string>
                <key>sourceSize</key>
                <string>{63,126}</string>
            </dict>
            <key>ludeng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,625},{86,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,163}}</string>
                <key>sourceSize</key>
                <string>{86,163}</string>
            </dict>
            <key>luntai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,549},{108,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>luntai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,470},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{101,110}</string>
            </dict>
            <key>lupai_01 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{192,752},{98,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,105}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>lupai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,664},{55,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,106}}</string>
                <key>sourceSize</key>
                <string>{55,106}</string>
            </dict>
            <key>lupai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,573},{89,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,109}}</string>
                <key>sourceSize</key>
                <string>{89,109}</string>
            </dict>
            <key>maotouying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,867},{81,145}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,145}}</string>
                <key>sourceSize</key>
                <string>{81,151}</string>
            </dict>
            <key>matou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,852},{175,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,133}}</string>
                <key>sourceSize</key>
                <string>{175,133}</string>
            </dict>
            <key>muban_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,483},{114,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,64}}</string>
                <key>sourceSize</key>
                <string>{114,64}</string>
            </dict>
            <key>muban_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,721},{103,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,59}}</string>
                <key>sourceSize</key>
                <string>{103,59}</string>
            </dict>
            <key>mubei_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,329},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>mubei_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>mubei_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,410},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>mubei_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,790},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>mubei_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,721},{102,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,129}}</string>
                <key>sourceSize</key>
                <string>{102,129}</string>
            </dict>
            <key>mubei_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,700},{104,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,87}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>mubei_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,240},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,72}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>muchangdeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,852},{169,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,160}}</string>
                <key>sourceSize</key>
                <string>{169,160}</string>
            </dict>
            <key>muchangdeng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,94},{203,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,148}}</string>
                <key>sourceSize</key>
                <string>{203,148}</string>
            </dict>
            <key>mulanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,851},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>muqiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,254},{364,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,214}}</string>
                <key>sourceSize</key>
                <string>{364,214}</string>
            </dict>
            <key>muqiao_01_destroyed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{364,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,214}}</string>
                <key>sourceSize</key>
                <string>{364,214}</string>
            </dict>
            <key>mutong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,287},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>nangua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,782},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>penquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,641},{137,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,144}}</string>
                <key>sourceSize</key>
                <string>{137,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>decoration_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0ca5630a760bec8b19c5e329a367726:1/1$</string>
            <key>textureFileName</key>
            <string>decoration_2.png</string>
        </dict>
    </dict>
</plist>
