<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lazhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,353},{68,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,100}}</string>
                <key>sourceSize</key>
                <string>{68,100}</string>
            </dict>
            <key>lazhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,446},{35,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,71}}</string>
                <key>sourceSize</key>
                <string>{35,71}</string>
            </dict>
            <key>longgu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{421,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,250}}</string>
                <key>sourceSize</key>
                <string>{421,250}</string>
            </dict>
            <key>ludeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,218},{103,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,178}}</string>
                <key>sourceSize</key>
                <string>{103,178}</string>
            </dict>
            <key>ludeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{63,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,126}}</string>
                <key>sourceSize</key>
                <string>{63,126}</string>
            </dict>
            <key>ludeng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{86,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,163}}</string>
                <key>sourceSize</key>
                <string>{86,163}</string>
            </dict>
            <key>luntai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,345},{108,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>luntai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,323},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{101,110}</string>
            </dict>
            <key>lupai_01 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{313,437},{98,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,105}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>lupai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,426},{55,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,106}}</string>
                <key>sourceSize</key>
                <string>{55,106}</string>
            </dict>
            <key>lupai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,254},{89,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,109}}</string>
                <key>sourceSize</key>
                <string>{89,109}</string>
            </dict>
            <key>maotouying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,254},{81,145}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,145}}</string>
                <key>sourceSize</key>
                <string>{81,151}</string>
            </dict>
            <key>matou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,218},{175,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,133}}</string>
                <key>sourceSize</key>
                <string>{175,133}</string>
            </dict>
            <key>muban_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{114,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,64}}</string>
                <key>sourceSize</key>
                <string>{114,64}</string>
            </dict>
            <key>muban_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,323},{103,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,59}}</string>
                <key>sourceSize</key>
                <string>{103,59}</string>
            </dict>
            <key>mubei_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,483},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>mubei_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,483},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>mubei_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,565},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>mubei_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,537},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>mubei_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{102,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,129}}</string>
                <key>sourceSize</key>
                <string>{102,129}</string>
            </dict>
            <key>mubei_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,476},{104,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,87}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>mubei_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,353},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,72}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>muqiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{364,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,214}}</string>
                <key>sourceSize</key>
                <string>{364,214}</string>
            </dict>
            <key>muqiao_01_destroyed.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{364,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,214}}</string>
                <key>sourceSize</key>
                <string>{364,214}</string>
            </dict>
            <key>mutong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,519},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>nangua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,423},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>penquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,337},{137,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,144}}</string>
                <key>sourceSize</key>
                <string>{137,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>decoration_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48ac762dd33db041080500deb207c99d:1/1$</string>
            <key>textureFileName</key>
            <string>decoration_2.png</string>
        </dict>
    </dict>
</plist>
