<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1942},{155,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,90}}</string>
                <key>sourceSize</key>
                <string>{155,90}</string>
            </dict>
            <key>huxinghuatan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1377},{311,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,204}}</string>
                <key>sourceSize</key>
                <string>{311,204}</string>
            </dict>
            <key>huxinghuatan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{313,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,218}}</string>
                <key>sourceSize</key>
                <string>{313,218}</string>
            </dict>
            <key>jinglingshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,825},{142,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,199}}</string>
                <key>sourceSize</key>
                <string>{142,199}</string>
            </dict>
            <key>kulou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,75},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>kulou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1023},{73,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,49}}</string>
                <key>sourceSize</key>
                <string>{73,49}</string>
            </dict>
            <key>kuloudui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{440,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,185}}</string>
                <key>sourceSize</key>
                <string>{440,185}</string>
            </dict>
            <key>kuloudui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,839},{125,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,105}}</string>
                <key>sourceSize</key>
                <string>{125,105}</string>
            </dict>
            <key>kuloutou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1632},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>kuloutou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1542},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{88,60}</string>
            </dict>
            <key>kulouzhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1690},{228,250}}</string>
                <key>offset</key>
                <string>{46,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,49},{228,250}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>lazhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1185},{68,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,100}}</string>
                <key>sourceSize</key>
                <string>{68,100}</string>
            </dict>
            <key>lazhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{35,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,71}}</string>
                <key>sourceSize</key>
                <string>{35,71}</string>
            </dict>
            <key>longgu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{421,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,250}}</string>
                <key>sourceSize</key>
                <string>{421,250}</string>
            </dict>
            <key>ludeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1377},{103,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,178}}</string>
                <key>sourceSize</key>
                <string>{103,178}</string>
            </dict>
            <key>ludeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,370},{63,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,126}}</string>
                <key>sourceSize</key>
                <string>{63,126}</string>
            </dict>
            <key>ludeng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1688},{86,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,163}}</string>
                <key>sourceSize</key>
                <string>{86,163}</string>
            </dict>
            <key>luntai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1942},{108,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,90}}</string>
                <key>sourceSize</key>
                <string>{108,90}</string>
            </dict>
            <key>luntai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,620},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{101,110}</string>
            </dict>
            <key>lupai_01 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{368,732},{98,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,105}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>lupai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,966},{55,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,106}}</string>
                <key>sourceSize</key>
                <string>{55,106}</string>
            </dict>
            <key>lupai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1074},{89,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,109}}</string>
                <key>sourceSize</key>
                <string>{89,109}</string>
            </dict>
            <key>maotouying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1374},{81,145}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,145}}</string>
                <key>sourceSize</key>
                <string>{81,151}</string>
            </dict>
            <key>matou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1026},{175,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,133}}</string>
                <key>sourceSize</key>
                <string>{175,133}</string>
            </dict>
            <key>muban_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,254},{114,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,64}}</string>
                <key>sourceSize</key>
                <string>{114,64}</string>
            </dict>
            <key>muban_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,498},{103,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,59}}</string>
                <key>sourceSize</key>
                <string>{103,59}</string>
            </dict>
            <key>mubei_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1461},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>mubei_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1942},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>mubei_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1609},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>mubei_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1287},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>mubei_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1557},{102,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,129}}</string>
                <key>sourceSize</key>
                <string>{102,129}</string>
            </dict>
            <key>mubei_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1853},{104,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,87}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>mubei_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1372},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,72}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>muchangdeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1203},{169,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,160}}</string>
                <key>sourceSize</key>
                <string>{169,160}</string>
            </dict>
            <key>muchangdeng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,620},{203,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,148}}</string>
                <key>sourceSize</key>
                <string>{203,148}</string>
            </dict>
            <key>mulanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1521},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>muqiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{364,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,214}}</string>
                <key>sourceSize</key>
                <string>{364,214}</string>
            </dict>
            <key>muqiao_01_destroyed.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,254},{364,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,214}}</string>
                <key>sourceSize</key>
                <string>{364,214}</string>
            </dict>
            <key>mutong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1916},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>nangua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1828},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>penquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1682},{137,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,144}}</string>
                <key>sourceSize</key>
                <string>{137,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>decoration_2.png</string>
            <key>size</key>
            <string>{471,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf0d80cef764a88423f4bb11c7d0c8e5:1/1$</string>
            <key>textureFileName</key>
            <string>decoration_2.png</string>
        </dict>
    </dict>
</plist>
