<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rail_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,829},{134,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,64}}</string>
                <key>sourceSize</key>
                <string>{134,64}</string>
            </dict>
            <key>rail_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,829},{140,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,59}}</string>
                <key>sourceSize</key>
                <string>{140,59}</string>
            </dict>
            <key>rail_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,465},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>rail_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,175},{171,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,93}}</string>
                <key>sourceSize</key>
                <string>{171,93}</string>
            </dict>
            <key>rail_05_destroyed.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{171,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,93}}</string>
                <key>sourceSize</key>
                <string>{171,93}</string>
            </dict>
            <key>shanzeiguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,651},{169,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,162}}</string>
                <key>sourceSize</key>
                <string>{169,162}</string>
            </dict>
            <key>shiqiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{391,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,255}}</string>
                <key>sourceSize</key>
                <string>{391,255}</string>
            </dict>
            <key>shiqiao_destroyed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{390,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,255}}</string>
                <key>sourceSize</key>
                <string>{390,255}</string>
            </dict>
            <key>shiti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,722},{105,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,143}}</string>
                <key>sourceSize</key>
                <string>{107,145}</string>
            </dict>
            <key>shiti_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,922},{109,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,70}}</string>
                <key>sourceSize</key>
                <string>{109,70}</string>
            </dict>
            <key>shiti_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,559},{118,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,73}}</string>
                <key>sourceSize</key>
                <string>{118,73}</string>
            </dict>
            <key>shizhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,516},{181,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,133}}</string>
                <key>sourceSize</key>
                <string>{181,133}</string>
            </dict>
            <key>shougu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{88,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,183}}</string>
                <key>sourceSize</key>
                <string>{88,183}</string>
            </dict>
            <key>tiepi.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,922},{109,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,65}}</string>
                <key>sourceSize</key>
                <string>{109,65}</string>
            </dict>
            <key>wuqijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{133,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,172}}</string>
                <key>sourceSize</key>
                <string>{133,172}</string>
            </dict>
            <key>xiangzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,815},{124,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,105}}</string>
                <key>sourceSize</key>
                <string>{124,105}</string>
            </dict>
            <key>youtong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{148,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,163}}</string>
                <key>sourceSize</key>
                <string>{148,163}</string>
            </dict>
            <key>zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,741},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>zhizhuwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,348},{98,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,115}</string>
            </dict>
            <key>zhongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,634},{86,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,117}}</string>
                <key>sourceSize</key>
                <string>{86,117}</string>
            </dict>
            <key>zuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{74,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,110}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>decoration_3.png</string>
            <key>size</key>
            <string>{494,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c36dbd06e1919cc5dff2c61646db830:1/1$</string>
            <key>textureFileName</key>
            <string>decoration_3.png</string>
        </dict>
    </dict>
</plist>
