<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengqiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{660,480}}</string>
                <key>offset</key>
                <string>{16,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,188},{660,480}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>chengqiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{610,492}}</string>
                <key>offset</key>
                <string>{-3,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,208},{610,492}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>chengqiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{616,472}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,165},{616,472}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>chengqiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{610,474}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,164},{610,474}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>dongxueshibi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1247},{277,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,459}}</string>
                <key>sourceSize</key>
                <string>{277,459}</string>
            </dict>
            <key>dongxueshibi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{212,465}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,465}}</string>
                <key>sourceSize</key>
                <string>{212,467}</string>
            </dict>
            <key>dongxueshibi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,647},{424,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,537}}</string>
                <key>sourceSize</key>
                <string>{424,537}</string>
            </dict>
            <key>dongxueshibi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,1022},{182,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,287}}</string>
                <key>sourceSize</key>
                <string>{182,287}</string>
            </dict>
            <key>dongxueshibi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,642},{214,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,378}}</string>
                <key>sourceSize</key>
                <string>{214,378}</string>
            </dict>
            <key>dongxueshibi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,476},{169,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,418}}</string>
                <key>sourceSize</key>
                <string>{169,418}</string>
            </dict>
            <key>jumazhuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1073},{194,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,134}}</string>
                <key>sourceSize</key>
                <string>{194,134}</string>
            </dict>
            <key>langan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,854},{89,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,111}}</string>
                <key>sourceSize</key>
                <string>{89,111}</string>
            </dict>
            <key>langan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1917},{119,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{119,117}</string>
            </dict>
            <key>mumen01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1752},{290,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,242}}</string>
                <key>sourceSize</key>
                <string>{290,242}</string>
            </dict>
            <key>mumen01_unnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1209},{290,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,242}}</string>
                <key>sourceSize</key>
                <string>{290,242}</string>
            </dict>
            <key>muzhuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1699},{292,234}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,82},{292,234}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzhuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,476},{198,164}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,113},{198,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>muzhuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1859},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>po_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1708},{311,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,284}}</string>
                <key>sourceSize</key>
                <string>{311,284}</string>
            </dict>
            <key>qiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1462},{180,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,185}}</string>
                <key>sourceSize</key>
                <string>{180,185}</string>
            </dict>
            <key>qiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,469},{107,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>qiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1752},{220,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,198}}</string>
                <key>sourceSize</key>
                <string>{220,198}</string>
            </dict>
            <key>senlinshibi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1501},{196,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,266}}</string>
                <key>sourceSize</key>
                <string>{196,266}</string>
            </dict>
            <key>senlinshibi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1206},{183,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,254}}</string>
                <key>sourceSize</key>
                <string>{183,254}</string>
            </dict>
            <key>senlinshibi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1073},{172,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,367}}</string>
                <key>sourceSize</key>
                <string>{172,367}</string>
            </dict>
            <key>shitouaiqiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,469},{147,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,161}}</string>
                <key>sourceSize</key>
                <string>{147,161}</string>
            </dict>
            <key>shitouaiqiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,618},{66,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,118}}</string>
                <key>sourceSize</key>
                <string>{68,120}</string>
            </dict>
            <key>shitouaiqiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1649},{105,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,133}}</string>
                <key>sourceSize</key>
                <string>{105,133}</string>
            </dict>
            <key>xiaozhenweiqiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1935},{90,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,125}}</string>
                <key>sourceSize</key>
                <string>{90,125}</string>
            </dict>
            <key>xiaozhenweiqiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,738},{90,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,114}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>xiaozhenweiqiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1784},{88,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,131}}</string>
                <key>sourceSize</key>
                <string>{88,131}</string>
            </dict>
            <key>xiaozhenweiqiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1752},{92,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>zhalan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1935},{88,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,119}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>zhalan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1952},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>zhalan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1952},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obstacle_1.png</string>
            <key>size</key>
            <string>{1350,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:191b7825be7e4fe37870259198550268:1/1$</string>
            <key>textureFileName</key>
            <string>obstacle_1.png</string>
        </dict>
    </dict>
</plist>
