<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,906},{72,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>caocong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1439},{151,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,127}}</string>
                <key>sourceSize</key>
                <string>{151,127}</string>
            </dict>
            <key>caocong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,590},{121,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,97}}</string>
                <key>sourceSize</key>
                <string>{121,97}</string>
            </dict>
            <key>caocong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,713},{91,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>chaihuodui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,788},{116,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,87}}</string>
                <key>sourceSize</key>
                <string>{116,87}</string>
            </dict>
            <key>daocaodui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1575},{114,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,129}}</string>
                <key>sourceSize</key>
                <string>{114,129}</string>
            </dict>
            <key>daocaodui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,496},{92,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,107}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>daotian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,2},{445,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,235}}</string>
                <key>sourceSize</key>
                <string>{445,235}</string>
            </dict>
            <key>diaoxiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1592},{137,145}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{137,145}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>dongxuezhiwu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1757},{184,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,151}}</string>
                <key>sourceSize</key>
                <string>{184,151}</string>
            </dict>
            <key>dongxuezhiwu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1439},{134,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,122}}</string>
                <key>sourceSize</key>
                <string>{134,122}</string>
            </dict>
            <key>dongxuezhiwu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,380},{109,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,114}}</string>
                <key>sourceSize</key>
                <string>{109,114}</string>
            </dict>
            <key>dongxuezhiwu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,377},{93,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{93,101}</string>
            </dict>
            <key>fengshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1260},{165,177}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,177}}</string>
                <key>sourceSize</key>
                <string>{173,179}</string>
            </dict>
            <key>gaodi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{765,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{765,541}}</string>
                <key>sourceSize</key>
                <string>{765,541}</string>
            </dict>
            <key>gaodi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,472},{480,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,357}}</string>
                <key>sourceSize</key>
                <string>{480,357}</string>
            </dict>
            <key>gaodi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{877,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{877,376}}</string>
                <key>sourceSize</key>
                <string>{877,376}</string>
            </dict>
            <key>gaodi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{495,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,303}}</string>
                <key>sourceSize</key>
                <string>{495,303}</string>
            </dict>
            <key>gaodi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,377},{765,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{765,541}}</string>
                <key>sourceSize</key>
                <string>{765,541}</string>
            </dict>
            <key>gaodi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{669,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,335}}</string>
                <key>sourceSize</key>
                <string>{669,335}</string>
            </dict>
            <key>gaodi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{869,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{869,373}}</string>
                <key>sourceSize</key>
                <string>{869,373}</string>
            </dict>
            <key>guanmu.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1757},{208,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,113}}</string>
                <key>sourceSize</key>
                <string>{208,113}</string>
            </dict>
            <key>guanmu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1260},{131,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,119}}</string>
                <key>sourceSize</key>
                <string>{131,119}</string>
            </dict>
            <key>guanmu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1393},{125,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,122}}</string>
                <key>sourceSize</key>
                <string>{125,122}</string>
            </dict>
            <key>guoshu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1757},{185,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,224}}</string>
                <key>sourceSize</key>
                <string>{185,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa9f9fed8ed5c2cf112100d2165609e7:1/1$</string>
            <key>textureFileName</key>
            <string>terrain_1.png</string>
        </dict>
    </dict>
</plist>
