<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1026},{81,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,68}}</string>
                <key>sourceSize</key>
                <string>{81,68}</string>
            </dict>
            <key>caocong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,755},{151,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,127}}</string>
                <key>sourceSize</key>
                <string>{151,127}</string>
            </dict>
            <key>caocong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,1135},{121,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,97}}</string>
                <key>sourceSize</key>
                <string>{121,97}</string>
            </dict>
            <key>caocong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{91,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>chaihuodui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,1306},{116,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,87}}</string>
                <key>sourceSize</key>
                <string>{116,87}</string>
            </dict>
            <key>daocaodui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,296},{114,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,129}}</string>
                <key>sourceSize</key>
                <string>{114,129}</string>
            </dict>
            <key>daotian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,483},{445,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,235}}</string>
                <key>sourceSize</key>
                <string>{445,235}</string>
            </dict>
            <key>diaoxiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,612},{137,145}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{137,145}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>fengshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1829},{165,177}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,177}}</string>
                <key>sourceSize</key>
                <string>{173,179}</string>
            </dict>
            <key>gaodi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,755},{765,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{765,541}}</string>
                <key>sourceSize</key>
                <string>{765,541}</string>
            </dict>
            <key>gaodi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1306},{480,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,357}}</string>
                <key>sourceSize</key>
                <string>{480,357}</string>
            </dict>
            <key>gaodi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,2},{877,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{877,376}}</string>
                <key>sourceSize</key>
                <string>{877,376}</string>
            </dict>
            <key>gaodi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1211},{495,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,303}}</string>
                <key>sourceSize</key>
                <string>{495,303}</string>
            </dict>
            <key>gaodi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{765,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{765,541}}</string>
                <key>sourceSize</key>
                <string>{765,541}</string>
            </dict>
            <key>gaodi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1313},{669,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,335}}</string>
                <key>sourceSize</key>
                <string>{669,335}</string>
            </dict>
            <key>gaodi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,380},{869,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{869,373}}</string>
                <key>sourceSize</key>
                <string>{869,373}</string>
            </dict>
            <key>guanmu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1829},{208,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,113}}</string>
                <key>sourceSize</key>
                <string>{208,113}</string>
            </dict>
            <key>guanmu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,2},{131,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,119}}</string>
                <key>sourceSize</key>
                <string>{131,119}</string>
            </dict>
            <key>guanmu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,1011},{125,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,122}}</string>
                <key>sourceSize</key>
                <string>{125,122}</string>
            </dict>
            <key>guoshu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1708},{185,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,224}}</string>
                <key>sourceSize</key>
                <string>{185,224}</string>
            </dict>
            <key>hu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1029,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1029,479}}</string>
                <key>sourceSize</key>
                <string>{1029,479}</string>
            </dict>
            <key>hua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,1306},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>kushu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1401},{176,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,215}}</string>
                <key>sourceSize</key>
                <string>{176,215}</string>
            </dict>
            <key>kushu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1788},{199,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,225}}</string>
                <key>sourceSize</key>
                <string>{199,225}</string>
            </dict>
            <key>kuteng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,123},{171,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,130}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
            <key>nangua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1984},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>nangua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1984},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>shikuai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,930},{234,279}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{234,279}}</string>
                <key>sourceSize</key>
                <string>{236,279}</string>
            </dict>
            <key>shikuai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1026},{233,280}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{233,280}}</string>
                <key>sourceSize</key>
                <string>{237,280}</string>
            </dict>
            <key>shikuai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,1234},{118,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,77}}</string>
                <key>sourceSize</key>
                <string>{118,77}</string>
            </dict>
            <key>shikuai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,412},{198,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,140}}</string>
                <key>sourceSize</key>
                <string>{198,140}</string>
            </dict>
            <key>shikuai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1984},{83,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,52}}</string>
                <key>sourceSize</key>
                <string>{83,52}</string>
            </dict>
            <key>shikuai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1984},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>shikuai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1139},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>shitou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1109},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
            <key>shuzhuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1201},{148,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,103}}</string>
                <key>sourceSize</key>
                <string>{148,103}</string>
            </dict>
            <key>shuzhuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1984},{76,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,61}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>shuzhuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1211},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>shuzhuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,908},{101,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,126}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>songshu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,980},{135,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,219}}</string>
                <key>sourceSize</key>
                <string>{135,219}</string>
            </dict>
            <key>songshu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,759},{135,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,219}}</string>
                <key>sourceSize</key>
                <string>{135,219}</string>
            </dict>
            <key>songshu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1026},{278,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,383}}</string>
                <key>sourceSize</key>
                <string>{278,383}</string>
            </dict>
            <key>xiangrikui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1401},{163,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,209}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>xiangrikui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1618},{163,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,209}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>xiangshu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1708},{185,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,224}}</string>
                <key>sourceSize</key>
                <string>{185,224}</string>
            </dict>
            <key>xiangshu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1788},{185,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,224}}</string>
                <key>sourceSize</key>
                <string>{185,224}</string>
            </dict>
            <key>xiaocao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1984},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>xiaocao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1119},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>xiaocao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,1358},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc6fdbd8d32979f92a80953b638655b5:1/1$</string>
            <key>textureFileName</key>
            <string>terrain_1.png</string>
        </dict>
    </dict>
</plist>
