<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shikuai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{234,279}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{234,279}}</string>
                <key>sourceSize</key>
                <string>{236,279}</string>
            </dict>
            <key>shikuai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{233,280}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{233,280}}</string>
                <key>sourceSize</key>
                <string>{237,280}</string>
            </dict>
            <key>shikuai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,893},{118,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,77}}</string>
                <key>sourceSize</key>
                <string>{118,77}</string>
            </dict>
            <key>shikuai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,223},{198,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,140}}</string>
                <key>sourceSize</key>
                <string>{198,140}</string>
            </dict>
            <key>shikuai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,613},{83,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,52}}</string>
                <key>sourceSize</key>
                <string>{83,52}</string>
            </dict>
            <key>shikuai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,950},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>shikuai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,613},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>shitou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,893},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
            <key>shuzhuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,223},{148,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,103}}</string>
                <key>sourceSize</key>
                <string>{148,103}</string>
            </dict>
            <key>shuzhuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,950},{76,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,61}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>shuzhuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,365},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
            <key>shuzhuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,893},{101,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,126}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>songshu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{135,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,219}}</string>
                <key>sourceSize</key>
                <string>{135,219}</string>
            </dict>
            <key>songshu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{135,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,219}}</string>
                <key>sourceSize</key>
                <string>{135,219}</string>
            </dict>
            <key>songshu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,383}}</string>
                <key>sourceSize</key>
                <string>{278,383}</string>
            </dict>
            <key>xiangrikui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{163,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,209}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>xiangshu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,667},{185,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,224}}</string>
                <key>sourceSize</key>
                <string>{185,224}</string>
            </dict>
            <key>xiangshu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,387},{185,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,224}}</string>
                <key>sourceSize</key>
                <string>{185,224}</string>
            </dict>
            <key>xiaocao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,950},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>xiaocao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>xiaocao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,613},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d027f3643f8dcf90c963378e01d0c4c:1/1$</string>
            <key>textureFileName</key>
            <string>terrain_3.png</string>
        </dict>
    </dict>
</plist>
