<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1029,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1029,479}}</string>
                <key>sourceSize</key>
                <string>{1029,479}</string>
            </dict>
            <key>hua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,483},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>kuangshi_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{184,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,257}}</string>
                <key>sourceSize</key>
                <string>{184,257}</string>
            </dict>
            <key>kuangshi_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,423},{217,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,185}}</string>
                <key>sourceSize</key>
                <string>{217,185}</string>
            </dict>
            <key>kuangshi_blue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,405},{187,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,143}}</string>
                <key>sourceSize</key>
                <string>{187,143}</string>
            </dict>
            <key>kuangshi_blue04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,376},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>kuangshi_blue05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,489},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>kuangshi_red01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,2},{183,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,258}}</string>
                <key>sourceSize</key>
                <string>{183,258}</string>
            </dict>
            <key>kuangshi_red02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,422},{217,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,185}}</string>
                <key>sourceSize</key>
                <string>{217,185}</string>
            </dict>
            <key>kuangshi_red03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,415},{188,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,143}}</string>
                <key>sourceSize</key>
                <string>{190,143}</string>
            </dict>
            <key>kuangshi_red04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,187},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>kuangshi_red05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,300},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>kuangshi_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,236},{184,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,260}}</string>
                <key>sourceSize</key>
                <string>{184,260}</string>
            </dict>
            <key>kuangshi_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,236},{217,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,185}}</string>
                <key>sourceSize</key>
                <string>{217,185}</string>
            </dict>
            <key>kuangshi_yellow03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,423},{187,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,143}}</string>
                <key>sourceSize</key>
                <string>{187,143}</string>
            </dict>
            <key>kuangshi_yellow04.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,483},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>kuangshi_yellow05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,300},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>kushu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,188},{176,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,215}}</string>
                <key>sourceSize</key>
                <string>{176,215}</string>
            </dict>
            <key>kushu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,188},{199,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,225}}</string>
                <key>sourceSize</key>
                <string>{199,225}</string>
            </dict>
            <key>kuteng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{171,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,130}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
            <key>lake_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,2},{475,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,232}}</string>
                <key>sourceSize</key>
                <string>{475,232}</string>
            </dict>
            <key>luoye.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,483},{326,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,112}}</string>
                <key>sourceSize</key>
                <string>{326,112}</string>
            </dict>
            <key>nangua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,489},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>nangua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,565},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>putaoteng-冲突-SinceApriL.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,483},{127,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,207}}</string>
                <key>sourceSize</key>
                <string>{127,207}</string>
            </dict>
            <key>putaoteng.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,483},{121,169}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,169}}</string>
                <key>sourceSize</key>
                <string>{123,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain_2.png</string>
            <key>size</key>
            <string>{2035,615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a7f9062414b5442012d874913dcbe33:1/1$</string>
            <key>textureFileName</key>
            <string>terrain_2.png</string>
        </dict>
    </dict>
</plist>
