<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1029,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1029,479}}</string>
                <key>sourceSize</key>
                <string>{1029,479}</string>
            </dict>
            <key>hua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1151},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>kushu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1033},{176,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,215}}</string>
                <key>sourceSize</key>
                <string>{176,215}</string>
            </dict>
            <key>kushu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1033},{199,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,225}}</string>
                <key>sourceSize</key>
                <string>{199,225}</string>
            </dict>
            <key>kuteng.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1211},{171,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,130}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
            <key>nangua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1033},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>nangua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1102},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain_2.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:464bf1727abfb7f22e4e5deda8fbb06a:1/1$</string>
            <key>textureFileName</key>
            <string>terrain_2.png</string>
        </dict>
    </dict>
</plist>
