<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caodi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{134,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,125}}</string>
                <key>sourceSize</key>
                <string>{134,125}</string>
            </dict>
            <key>caodi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,412},{117,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,132}}</string>
                <key>sourceSize</key>
                <string>{117,132}</string>
            </dict>
            <key>caodi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,275},{135,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,142}}</string>
                <key>sourceSize</key>
                <string>{135,142}</string>
            </dict>
            <key>caodi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{183,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,95}}</string>
                <key>sourceSize</key>
                <string>{183,95}</string>
            </dict>
            <key>caodi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,411},{147,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,148}}</string>
                <key>sourceSize</key>
                <string>{147,148}</string>
            </dict>
            <key>caodi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,156}}</string>
                <key>sourceSize</key>
                <string>{214,156}</string>
            </dict>
            <key>dixiahe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{185,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,96}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
            <key>dixiahe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,199},{183,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{183,59}}</string>
                <key>sourceSize</key>
                <string>{185,59}</string>
            </dict>
            <key>dixiahe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,189},{99,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,84}}</string>
                <key>sourceSize</key>
                <string>{99,84}</string>
            </dict>
            <key>dixiahe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{182,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,88}}</string>
                <key>sourceSize</key>
                <string>{184,88}</string>
            </dict>
            <key>dixiahe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,260},{178,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,73}}</string>
                <key>sourceSize</key>
                <string>{178,73}</string>
            </dict>
            <key>tudihe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{193,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,93}}</string>
                <key>sourceSize</key>
                <string>{193,93}</string>
            </dict>
            <key>tudihe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{155,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,130}}</string>
                <key>sourceSize</key>
                <string>{155,130}</string>
            </dict>
            <key>tudihe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,531},{119,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,96}}</string>
                <key>sourceSize</key>
                <string>{119,96}</string>
            </dict>
            <key>tudihe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,97},{189,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,100}}</string>
                <key>sourceSize</key>
                <string>{189,100}</string>
            </dict>
            <key>tudihe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,335},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a5e878eea4266292f8d8dddf1292cf6:1/1$</string>
            <key>textureFileName</key>
            <string>terrain_0.png</string>
        </dict>
    </dict>
</plist>
