<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1029,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1029,479}}</string>
                <key>sourceSize</key>
                <string>{1029,479}</string>
            </dict>
            <key>hua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,120},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>kuangshi_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,536},{184,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,257}}</string>
                <key>sourceSize</key>
                <string>{184,257}</string>
            </dict>
            <key>kuangshi_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,909},{217,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,185}}</string>
                <key>sourceSize</key>
                <string>{217,185}</string>
            </dict>
            <key>kuangshi_blue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1096},{187,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,143}}</string>
                <key>sourceSize</key>
                <string>{187,143}</string>
            </dict>
            <key>kuangshi_blue04.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1239},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>kuangshi_blue05.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,885},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>kuangshi_red01.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,365},{183,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,258}}</string>
                <key>sourceSize</key>
                <string>{183,258}</string>
            </dict>
            <key>kuangshi_red02.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,751},{217,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,185}}</string>
                <key>sourceSize</key>
                <string>{217,185}</string>
            </dict>
            <key>kuangshi_red03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1033},{188,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,143}}</string>
                <key>sourceSize</key>
                <string>{190,143}</string>
            </dict>
            <key>kuangshi_red04.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1227},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>kuangshi_red05.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,818},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>kuangshi_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,350},{184,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,260}}</string>
                <key>sourceSize</key>
                <string>{184,260}</string>
            </dict>
            <key>kuangshi_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,722},{217,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,185}}</string>
                <key>sourceSize</key>
                <string>{217,185}</string>
            </dict>
            <key>kuangshi_yellow03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1033},{187,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,143}}</string>
                <key>sourceSize</key>
                <string>{187,143}</string>
            </dict>
            <key>kuangshi_yellow04.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1116},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>kuangshi_yellow05.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,751},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>kushu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,938},{176,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,215}}</string>
                <key>sourceSize</key>
                <string>{176,215}</string>
            </dict>
            <key>kushu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,550},{199,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,225}}</string>
                <key>sourceSize</key>
                <string>{199,225}</string>
            </dict>
            <key>kuteng.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1096},{171,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,130}}</string>
                <key>sourceSize</key>
                <string>{171,130}</string>
            </dict>
            <key>lake_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{475,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,232}}</string>
                <key>sourceSize</key>
                <string>{475,232}</string>
            </dict>
            <key>luoye.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,236},{326,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,112}}</string>
                <key>sourceSize</key>
                <string>{326,112}</string>
            </dict>
            <key>nangua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>nangua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,71},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>putaoteng-冲突-SinceApriL.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,236},{127,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,207}}</string>
                <key>sourceSize</key>
                <string>{127,207}</string>
            </dict>
            <key>putaoteng.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1116},{121,169}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,169}}</string>
                <key>sourceSize</key>
                <string>{123,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain_2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:096c91b9938dc0f1e88ed27c4007363a:1/1$</string>
            <key>textureFileName</key>
            <string>terrain_2.png</string>
        </dict>
    </dict>
</plist>
