<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,563},{152,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,94}}</string>
                <key>sourceSize</key>
                <string>{152,94}</string>
            </dict>
            <key>bian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,730},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>bian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,160},{190,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,81}}</string>
                <key>sourceSize</key>
                <string>{190,81}</string>
            </dict>
            <key>bian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,135},{190,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,81}}</string>
                <key>sourceSize</key>
                <string>{190,81}</string>
            </dict>
            <key>caodi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{134,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,125}}</string>
                <key>sourceSize</key>
                <string>{134,125}</string>
            </dict>
            <key>caodi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,659},{117,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,132}}</string>
                <key>sourceSize</key>
                <string>{117,132}</string>
            </dict>
            <key>caodi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,557},{135,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,142}}</string>
                <key>sourceSize</key>
                <string>{135,142}</string>
            </dict>
            <key>caodi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,354},{183,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,95}}</string>
                <key>sourceSize</key>
                <string>{183,95}</string>
            </dict>
            <key>caodi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,581},{147,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,148}}</string>
                <key>sourceSize</key>
                <string>{147,148}</string>
            </dict>
            <key>caodi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,156}}</string>
                <key>sourceSize</key>
                <string>{214,156}</string>
            </dict>
            <key>dixiahe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,256},{185,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,96}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
            <key>dixiahe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,282},{185,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,59}}</string>
                <key>sourceSize</key>
                <string>{185,59}</string>
            </dict>
            <key>dixiahe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,471},{99,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,84}}</string>
                <key>sourceSize</key>
                <string>{99,84}</string>
            </dict>
            <key>dixiahe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,343},{184,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,88}}</string>
                <key>sourceSize</key>
                <string>{184,88}</string>
            </dict>
            <key>dixiahe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,243},{178,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,73}}</string>
                <key>sourceSize</key>
                <string>{178,73}</string>
            </dict>
            <key>shizhuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,433},{173,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,146}}</string>
                <key>sourceSize</key>
                <string>{173,146}</string>
            </dict>
            <key>shizhuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,218},{188,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,151}}</string>
                <key>sourceSize</key>
                <string>{188,151}</string>
            </dict>
            <key>shizhuan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{107,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,172}}</string>
                <key>sourceSize</key>
                <string>{107,172}</string>
            </dict>
            <key>shizhuan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{206,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,89}}</string>
                <key>sourceSize</key>
                <string>{206,89}</string>
            </dict>
            <key>shizhuan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,84},{178,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,74}}</string>
                <key>sourceSize</key>
                <string>{178,74}</string>
            </dict>
            <key>shizhuan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{183,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,73}}</string>
                <key>sourceSize</key>
                <string>{183,73}</string>
            </dict>
            <key>shizhuan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,451},{166,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,172}}</string>
                <key>sourceSize</key>
                <string>{166,172}</string>
            </dict>
            <key>shizhuan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{171,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,71}}</string>
                <key>sourceSize</key>
                <string>{171,71}</string>
            </dict>
            <key>shizhuan_bw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,318},{177,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,151}}</string>
                <key>sourceSize</key>
                <string>{177,151}</string>
            </dict>
            <key>shizhuan_bw_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,98},{193,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,156}}</string>
                <key>sourceSize</key>
                <string>{193,156}</string>
            </dict>
            <key>shizhuan_bw_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,371},{114,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,177}}</string>
                <key>sourceSize</key>
                <string>{114,177}</string>
            </dict>
            <key>shizhuan_bw_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{206,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,94}}</string>
                <key>sourceSize</key>
                <string>{206,94}</string>
            </dict>
            <key>shizhuan_bw_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{178,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,80}}</string>
                <key>sourceSize</key>
                <string>{178,80}</string>
            </dict>
            <key>tudihe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{193,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,93}}</string>
                <key>sourceSize</key>
                <string>{193,93}</string>
            </dict>
            <key>tudihe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,550},{155,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,130}}</string>
                <key>sourceSize</key>
                <string>{155,130}</string>
            </dict>
            <key>tudihe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{119,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,96}}</string>
                <key>sourceSize</key>
                <string>{119,96}</string>
            </dict>
            <key>tudihe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,180},{189,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,100}}</string>
                <key>sourceSize</key>
                <string>{189,100}</string>
            </dict>
            <key>tudihe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,487},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>zaoze_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{191,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,128}}</string>
                <key>sourceSize</key>
                <string>{191,128}</string>
            </dict>
            <key>zaoze_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,93},{195,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,85}}</string>
                <key>sourceSize</key>
                <string>{195,85}</string>
            </dict>
            <key>zaoze_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,619},{132,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,142}}</string>
                <key>sourceSize</key>
                <string>{132,142}</string>
            </dict>
            <key>zaoze_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{205,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,131}}</string>
                <key>sourceSize</key>
                <string>{205,131}</string>
            </dict>
            <key>zaoze_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,471},{165,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,77}}</string>
                <key>sourceSize</key>
                <string>{165,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:771a3b6154c2ec0a5f9de6efdd67f43d:1/1$</string>
            <key>textureFileName</key>
            <string>terrain_0.png</string>
        </dict>
    </dict>
</plist>
