<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{70,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,239}}</string>
                <key>sourceSize</key>
                <string>{70,239}</string>
            </dict>
            <key>dici00.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{290,156}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{290,156}}</string>
                <key>sourceSize</key>
                <string>{290,166}</string>
            </dict>
            <key>electric_alexandra.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,293}}</string>
                <key>sourceSize</key>
                <string>{164,293}</string>
            </dict>
            <key>red_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{70,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,239}}</string>
                <key>sourceSize</key>
                <string>{70,239}</string>
            </dict>
            <key>yellow_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,160},{70,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,240}}</string>
                <key>sourceSize</key>
                <string>{70,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>towers.png</string>
            <key>size</key>
            <string>{661,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd02c97c58c8354dc54f6c57d2b4f1bc:1/1$</string>
            <key>textureFileName</key>
            <string>towers.png</string>
        </dict>
    </dict>
</plist>
