<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dracula_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,640},{156,156}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{156,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>durarara_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,634},{156,156}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{156,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enchantress_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,158}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{184,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gandalf_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{156,156}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{156,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hippolyta_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,482},{156,156}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{156,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ice_witch_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{156,156}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{156,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>kyle_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,318},{156,158}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{156,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>panda_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,476},{156,156}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{156,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>saber_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{182,156}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{182,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>vanhelsing_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,318},{162,166}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{162,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zeus_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,160},{156,172}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{156,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_avatars.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54bb89fa3c9b1d50ab497b627a96bee5:1/1$</string>
            <key>textureFileName</key>
            <string>hero_avatars.png</string>
        </dict>
    </dict>
</plist>
