<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dracula_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,690},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>durarara_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,518},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>enchantress_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gandalf_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,346},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>hippolyta_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,174},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>ice_witch_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>kyle_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>panda_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,780},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>saber_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,608},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>skill_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>vanhelsing_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>zeus_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_avatars.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86d43e5bd89691c993fb1e6f832ec56f:1/1$</string>
            <key>textureFileName</key>
            <string>hero_avatars.png</string>
        </dict>
    </dict>
</plist>
