<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_battle_hint_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{126,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ui_battle_hint_boss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ui_battle_hint_escort.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ui_battle_hint_guai.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,124},{114,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{114,114}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ui_battle_hint_guard.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,240},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ui_battle_hint_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,130},{31,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,18}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>ui_battle_hint_sos.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ui_battle_hint_wupin.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_battle_hint.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9890f9ca07fb5434fef74a589e6320ca:1/1$</string>
            <key>textureFileName</key>
            <string>ui_battle_hint.png</string>
        </dict>
    </dict>
</plist>
