<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,99},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{67,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>gong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,289},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>gong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,186},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>gong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,194},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>gong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,99},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,168},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>jian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,281},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>jian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,281},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>jian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,384},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>jian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,384},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>kuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,99},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{70,69}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>kuijia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>kuijia_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>kuijia_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>kuijia_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>xianglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,99},{69,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{69,70}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>xianglian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,378},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>xianglian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,282},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>xianglian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,186},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>xianglian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>xie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{71,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{71,66}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>xie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>xie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>xie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,94},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>xie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_equip_drop.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:757c365859f6248f27bbdab3a30f2d7f:1/1$</string>
            <key>textureFileName</key>
            <string>ui_equip_drop.png</string>
        </dict>
    </dict>
</plist>
