<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_drop_gong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,281},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{67,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>ui_drop_gong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,286},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>ui_drop_gong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,332},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>ui_drop_gong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>ui_drop_gong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,186},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>ui_drop_jian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,350},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_drop_jian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,286},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_drop_jian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,381},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_drop_jian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,194},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_drop_jian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,194},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_drop_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,44}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>ui_drop_kuijia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,427},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{70,69}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>ui_drop_kuijia_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>ui_drop_kuijia_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>ui_drop_kuijia_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>ui_drop_kuijia_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>ui_drop_xianglian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,427},{69,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{69,70}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>ui_drop_xianglian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,99},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>ui_drop_xianglian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>ui_drop_xianglian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,191},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>ui_drop_xianglian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,99},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>ui_drop_xie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{71,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{71,66}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>ui_drop_xie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>ui_drop_xie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,99},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>ui_drop_xie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,94},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>ui_drop_xie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_equip_drop.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:630fcf3da206db97f3b42ed5626cc1d4:1/1$</string>
            <key>textureFileName</key>
            <string>ui_equip_drop.png</string>
        </dict>
    </dict>
</plist>
