<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baiguchanggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,634},{128,128}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{128,128}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>baiguhufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,134},{136,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{136,126}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>baigujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,518},{128,128}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{128,128}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>baiguzhilv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{128,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{128,126}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>baiguzhiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,392},{124,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>dutushaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,764},{122,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{122,126}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>emoliaokao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{126,128}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>emozhiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,262},{130,128}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{130,128}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>emozhiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,648},{128,126}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{128,126}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>emozhiqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{136,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,128}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>emozhiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{136,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,126}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>huangjinbishou.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,512},{120,130}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{120,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>julongzhanfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>julongzhikai.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,132},{136,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,126}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>julongzhiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{128,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{128,128}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>julongzhiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>julongzhizu.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,384},{130,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{130,126}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>muji.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{112,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{112,94}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>nvwumomao.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,260},{136,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{136,122}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>shicongdoupeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,490},{112,104}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{112,104}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>weibinghufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,604},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{102,104}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>weibingkaijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,116},{94,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{94,100}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>weibingmugong.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,384},{104,106}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{104,106}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>weibingpeijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,708},{102,102}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{102,102}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>weibingzhixue.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,812},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{98,100}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>yadiannazhilei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{122,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{122,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>zhaocaimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{132,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{132,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_equip_icon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48d975d7e2dbfddb0ca670fc7a899630:1/1$</string>
            <key>textureFileName</key>
            <string>ui_equip_icon.png</string>
        </dict>
    </dict>
</plist>
