<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_hero_p_dracula.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,346},{101,134}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{101,134}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_durarara.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,140}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{185,140}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_enchantress.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,346},{129,134}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,6},{129,134}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_gandalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,141},{135,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{135,138}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_hippolyta.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{137,146}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{137,146}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_ice_witch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{119,136}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{119,136}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_kyle.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{91,144}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,6},{91,144}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_saber.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,346},{107,136}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{107,136}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_vanhelsing.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,235},{109,138}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{109,138}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_zeus.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,95},{141,138}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{141,138}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hero_p.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea83ea58b48606a521a807fbe3d9bee0:1/1$</string>
            <key>textureFileName</key>
            <string>ui_hero_p.png</string>
        </dict>
    </dict>
</plist>
