<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_hero_p_dracula.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,140},{101,134}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,10},{101,134}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_durarara.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,148}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{145,148}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_enchantress.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{129,134}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,6},{129,134}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_gandalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,152},{135,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{135,138}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_hippolyta.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{137,146}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{137,146}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_ice_witch.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{119,136}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{119,136}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_kyle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{91,144}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,6},{91,144}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_saber.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,138},{107,136}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{107,136}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_vanhelsing.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{109,138}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{109,138}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
            <key>ui_hero_p_zeus.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,300},{141,138}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{141,138}}</string>
                <key>sourceSize</key>
                <string>{185,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hero_p.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1b7d1857e3fda363fdedeae898a146f:1/1$</string>
            <key>textureFileName</key>
            <string>ui_hero_p.png</string>
        </dict>
    </dict>
</plist>
