<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cage_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{146,76}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{146,76}}</string>
                <key>sourceSize</key>
                <string>{162,80}</string>
            </dict>
            <key>cage_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,488},{120,141}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,141}}</string>
                <key>sourceSize</key>
                <string>{124,241}</string>
            </dict>
            <key>light_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{484,484}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>unit_bleed_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,546},{50,54}}</string>
                <key>offset</key>
                <string>{-39,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,79},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>unit_bleed_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,546},{84,56}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,71},{84,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>unit_bleed_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,488},{104,56}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,71},{104,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>unit_bleed_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,488},{120,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,71},{120,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>unit_bleed_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,488},{110,56}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,71},{110,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>unit_deadblood.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,488},{130,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{130,51}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>unit_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,610},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_unit_common.png</string>
            <key>size</key>
            <string>{488,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1651293e33954fbafaa7513cc055cc75:73376892ff5f350e3188f2e3c5a36c0c:23d8dd9a1700147eb0c332ee93d7780d$</string>
            <key>textureFileName</key>
            <string>fx_unit_common.png</string>
        </dict>
    </dict>
</plist>
